@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Poppins:wght@300&family=Source+Code+Pro:wght@300&family=Source+Sans+Pro&display=swap');@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Code+Pro:wght@300&family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sideBar{
    background: rgb(211, 211, 211);
    width: 300px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.sideBar nav{
    padding: 40px;
}

.sideBar nav li{
    list-style: none;
    font-size: 25px;
    padding: 10px 0;
}

.sideBar nav li a{
    text-decoration: none;
    color: black;
}



.main{
    /* background: yellow; */
    height: 100vh;
    width: 85vw;
}

.container{
    display: flex;
}

form{
    /* background: rgb(250, 62, 250); */
    height: 55vh;
    width: 75vw;
    margin: 120px auto;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
}

form button{
    width: 70px;
}
